 <div class="user-details">
  <h1> My introduce </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>My<br>info</h2>
      <i class="devicon-redis-plain"></i>
      <p>I'm form Korea, in 2021 I move to Thailand to study. I'm learning at ASB(American School of Bangkok) now I get 9grades classes.</p>
    </div>
    <div class="tech">
      <h2>IT<br>skills</h2>
      <i class="devicon-python-plain-wordmark"></i>
      <i class="devicon-html5-plain-wordmark"></i>
      <p>I learned C#, Python, HTML, CSS, Javascript. I can use basic thoes IT skills, and I can understnad the codes contents.</p>
    </div>
    <div class="tech">
      <h2>Contact<br>us</h2>
      <i class="devicon-cucumber-plain"></i>
      <p>If you wnat to talk with us, please send eamil with this : giokimq0@gmil.com</p>
    </div>
</div>
