<div class="user-details">
  <h1> Featured Projects Timelines</h1>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "https://user-images.githubusercontent.com/92345429/233074828-8e0d87bf-de0a-46c9-be0a-8aa6ad238fa6.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Cosera </h3>
    <ul>
      <li> HTML, CSS, and Javascript for Web Developers </li>
    </ul>
    <p>I started this lesson February 22nd to April 2nd. I learn for this lesson how to make web-site, using HTML, CSS and Javascript, how to look those codes and how to connect the CMD and web-site. If you want to see my submit assigment click 'Check it out'</p>
    <a class="project-link" href="https://github.com/gk3126/gk3126.github.io/tree/main/HTML-CSS-and-Javascript-for-Web-Developers" target="_blank">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "https://user-images.githubusercontent.com/92345429/234581714-fa959b44-2482-4e92-8daa-9bdcaf3f6e62.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> BAEKJOON </h3>
    <ul>
      <li> Practice Coding(Algorythem) Judge </li>
    </ul>
    <p>After I learned Python I want to check my knowledge of Python, so I sloved "BAEKJOON judge" problems. While I slvoed problem I getting understand functions that I don't know before and I feel my skills are improve. If you want to see my sloved click 'Check it out'.</p>
    <a class="project-link" target="_blank" href="https://github.com/gk3126/BAEKJOON">Check it out</a>
  </div>
</div>

<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "https://github.com/gk3126/gk3126.github.io/assets/92345429/3c8b793d-40ce-4a09-9deb-d10864f7e4e7" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Cosera </h3>
    <ul>
      <li> Python for Data Science, AI & Development </li>
    </ul>
    <p>I started this lesson May 7th to May 17th. I learn for this lesson about, Variables, Lists, Tuples, Dictionaries, Sets, Function, Pandas, Numpy and APIs. For this lesson I know about more types of Python and I learn more skils.
    </p>
  </div>
</div>

<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "https://github.com/gk3126/test/assets/92345429/fe603d48-7ac0-474b-97f5-22dfffd2ee12" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Cosera </h3>
    <ul>
      <li> Python Project for Data Science </li>
    </ul>
    <p>After I finish 'Python for Data Science, AI & Development' I continue progress of 'IBM Data Science'. This project is next part of above lesson(Python for Data Science, AI & Development). I learn for this lesson to how to make a grahp, webscraping and table. If you want to see my sloved click 'Check it out'.</p>
    <a class="project-link" target="_blank" href="https://github.com/gk3126/IBM-Data-Science-Professional-Certificate/tree/main/05.Python%20Project%20for%20Data%20Science">Check it out</a>
  </div>
</div>