<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "https://user-images.githubusercontent.com/92345429/233074828-8e0d87bf-de0a-46c9-be0a-8aa6ad238fa6.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Cosera </h3>
    <ul>
      <li> HTML, CSS, and Javascript for Web Developers </li>
    </ul>
    <p>I started this lesson February 22nd to April 2nd. I learn for this lesson how to make web-site, using HTML, CSS and Javascript, how to look those codes and how to connect the CMD and web-site. If you want to see my submit assigment click 'Check it out'</p>
    <a class="project-link" href="https://github.com/gk3126/gk3126.github.io/tree/main/HTML-CSS-and-Javascript-for-Web-Developers" target="_blank">Check it out</a>
  </div>
</div>
<!-- <div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/skate.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Project Title </h3>
    <ul>
      <li> Featured Skills</li>
    </ul>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
    <a class="project-link" href="#">Check it out</a>
  </div> -->
</div>
